// Primeiro exemplo de SASS
$fundo: orange;
$cor-titulo: red;

body {
    background: $fundo;

    div {
        border: 2px solid white;

        h1 {
            font-size: 12px;
            color: $cor-titulo;
        }

        h2 {
            color: gray;
        }
    }
}