.container {
    width: 640px;
    height: 800px;
    border: 2px solid white;

    @include borda-redonda();

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $branco;
        text-align: center;
    }

    .foto {
        width: 156px;
        height: 156px;
        border: 1px dashed $branco;
        // As variáveis não são acessíveis dentro de funções do CSS,
        // gerando um erro de sintaxe. Portanto, precisamos usar
        // a "interpolação" para realizar a substituição do seu valor no SASS
        background: url(../img/#{$foto});
        background-size: contain;
        margin-bottom: 20px;

        @include borda-redonda();
        @include sombra($cor: green, $y: 14px);

        @media screen and (max-width: 700px) {
            @include bolinha-ou-quadrado($bolinha: true);
            border: 3px dotted white;
        }

    @media screen and (max-width: 500px) {
        @include bolinha-ou-quadrado();
        border: 6px dashed yellow;
    }
}

    button {
        background: $laranja;
        @include botao-custom() {
            border-radius: 16px;
            color: $branco;
            font-weight: bold;
        };

        // Quando é alguma propriedade que se refere ao ELEMENTO PAI, usamos o &
        &:hover {
            background: $fundo;
            color: $laranja;
            cursor: pointer;
        }
    }

    p {
        color: $branco;

        &.curso {
            font-size: 24px;
            font-weight: bold;
        }

        &.local {
            font-style: italic;
        }
    }
}


// Lista em SASS (vetor):

$cores: red, orange, purple, brown;

@each $cor in $cores {
    .item-#{$cor} {
        background: $cor;
    }
}

//  FOR: 

@for $i from 1 through 3 {
    li:nth-child(#{$i}) {
        background: red;
        color: $branco;
    }
}
