html, body {
    margin: 0;
    height: 100%;
    font-size: xx-large;
}

.container {
    border: 5px solid black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.css {
    border: 1px solid red;
    width: 25%;
}

.js {
    width: 25%;
    border: 1px solid green;
}